<section class="area-do-usuario container mt-5">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 painel-acoes">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Mais Opções
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <a [routerLink]="['lista-escola']">
                            Lista de Escolas
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </mat-action-row>
                    <mat-action-row>
                        <a [routerLink]="['opniao']">
                            Deixe sua opinião
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </mat-action-row>
                    <mat-action-row>
                        <a [routerLink]="['ajuda']">
                            Ajuda
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </mat-action-row>
                    <mat-action-row>
                        <a [routerLink]="['perguntas-frequentes']">
                            Perguntas frequentes
                            <mat-icon>chevron_right</mat-icon>
                        </a>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs-12">
            <mat-card class="card">
                <mat-card-header>
                    <img mat-card-avatar class="header-image" [src]="segurancaService.usuario.imagem" *ngIf="segurancaService.usuario && segurancaService.usuario.imagem">
                </mat-card-header>
                <mat-card-content class="text-center mt-4">
                    <h2>{{this.segurancaService.usuario?.nome}}</h2>
                    <p>{{this.segurancaService.usuario?.endereco?.municipio}},
                        {{this.segurancaService.usuario?.endereco?.uf}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 escolas-contempladas">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Escolas Contempladas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <mat-icon>account_balance</mat-icon>
                        <a href="#">
                            OZANAN COELHO - Capitão Eduardo
                        </a>
                    </mat-action-row>
                    <mat-action-row>
                        <mat-icon>account_balance</mat-icon>
                        <a href="#">
                            JOÃO AFONSO - Paraíso
                        </a>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row mt-4 mt-4">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <mat-card>
                <mat-card-content>
                    <h2 class="example-h2">Histórico</h2>
                    <mat-tab-group class="tab-group">
                        <mat-tab label="Doações Realizadas">
                            <div class="tab-content">
                                217
                            </div>
                        </mat-tab>
                        <mat-tab label="Colaborações Feitas">
                            <div class="tab-content">
                                2714
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>
