<section class="area-do-usuario container mt-5">

    <div class="row mt-5 justify-content-center">
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs-12">
            <mat-card class="card">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                </mat-card-header>
                <mat-card-content class="text-center mt-4">
                    <h2>Diego Soares Santos</h2>
                    <p>Belo Horizonte, MG</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs-12">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            MAIS
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-action-row>
                        <a href="#">Lista de Escolas
                            <mat-icon>chevron_right</mat-icon></a>
                    </mat-action-row>
                    <mat-action-row>
                        <a href="#">Deixe sua opinião
                            <mat-icon>chevron_right</mat-icon></a>
                    </mat-action-row>
                    <mat-action-row>
                        <a href="#">Ajuda
                            <mat-icon>chevron_right</mat-icon></a>
                    </mat-action-row>
                    <mat-action-row>
                        <a href="#">Perguntas frequentes
                            <mat-icon>chevron_right</mat-icon></a>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs-12"></div>
        <div class="col-md-4 col-lg-4 col-sm-8 col-xs-12">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Escolas Contempladas
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <mat-icon>account_balance</mat-icon>
                        <a href="#">
                            OZANAN COELHO - Capitão Eduardo
                        </a>
                    </mat-action-row>
                    <mat-action-row>
                        <mat-icon>account_balance</mat-icon>
                        <a href="#">
                            JOÃO AFONSO - Paraíso
                        </a>
                    </mat-action-row>


                </mat-expansion-panel>
            </mat-accordion>
        </div>

    </div>






</section>
