<nav class="navbar fixed-top navbar-expand-lg text-uppercase">
    <div class="container">
        <div class="text-left">
            <button mat-icon-button *ngIf="segurancaService.logado" [matMenuTriggerFor]="menuOpcoes">
                <mat-icon>menu</mat-icon>
            </button>
            <a class="navbar-brand" [href]="segurancaService.logado?'/dashboard':'/inicio'" matTooltip="Reciclando educação">
                <img src="/assets/img/logo.png" class="logo">
            </a>
        </div>
        <div class="text-right">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger menu-item" href="inicio#Sobre" *ngIf="!segurancaService.logado">Sobre</a>
            <div *ngIf="segurancaService.logado">
                <button mat-icon-button>
                    <mat-icon>notifications_none</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="menuUsuario">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div>
</nav>
<mat-menu #menuOpcoes="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onDoar()">
        <mat-icon>pan_tool</mat-icon>
        Doar
    </button>
    <button mat-menu-item>
        <mat-icon>build</mat-icon>
        Colaborador
    </button>
</mat-menu>
<mat-menu #menuUsuario="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>Perfil
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>Configuração
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>Sair
    </button>
</mat-menu>
