
@import 'src/assets/scss/variables';

nav{
    background-color: $aux4;
    .container{
        color:$aux1;
    }
    .menu-item{
        font-weight: bold;
        color:$aux1;
    }
    .logo{
        max-height: 3rem;
        cursor: pointer;
    }

}
::ng-deep{
    .mat-menu-content{
        background-color: $aux4 !important;
        color: $aux1;
    }
    button.mat-menu-item{
        background-color: $aux4 !important;
        color: $aux1;
        mat-icon{
            color:$aux1 !important;
        }
    }
}
