@import "src/assets/scss/variables";

section.pagina-nao-encontrada{
    justify-content: center;
    background-color: $primaria;
    color:white;
    min-height: 70vh;
    padding-top: 15%;
    margin-bottom: -4rem;
}