<section class="apresentacao">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 col-sm-10 col-lg-8 col-xs-10 mt-4">
                <div class="conteudo text-center">
                    A doação é um exercício de desapego. Ela deve beneficiar mais quem doa do que quem recebe. Todas as
                    pessoas que lhe pedem dinheiro ou qualquer tipo de doação são como professores que vêm lhe ensinar
                    e lhe conceder uma oportunidade para você exercitar e praticar a generosidade.
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 text-right">
                <button mat-raised-button (click)="onFazerDoacao()">
                    <mat-icon>thumb_up</mat-icon> Fazer uma doação!
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 text-left" (click)="onVisualizarDacoes()">
                <button mat-raised-button (click)="onVisualizarDacoes()">
                    <mat-icon>view_list</mat-icon>Andamento de suas doações
                </button>
            </div>
        </div>
    </div>
</section>
