<section class="apresentacao">
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-md-8 col-sm-10 col-lg-8 col-xs-10 mt-4">
                <div class="conteudo">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo, omnis. Voluptatem vero labore nisi
                    suscipit doloribus perspiciatis, itaque reprehenderit commodi. Facilis obcaecati, quas iste
                    possimus dolorem at ipsa vel iure.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ipsam amet voluptas vitae
                    provident, in necessitatibus accusantium accusamus deserunt quasi quibusdam quod incidunt beatae.
                    Optio mollitia voluptas qui dignissimos assumenda?
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque distinctio hic atque aliquid at
                    maxime neque vero est vitae? Laborum cupiditate blanditiis necessitatibus neque corporis atque
                    recusandae dolorum aliquam labore?
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 text-right">
                <button mat-raised-button (click)="onFazerDoacao()">
                    <mat-icon>thumb_up</mat-icon> Fazer uma doação!
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 text-left" (click)="onVisualizarDacoes()">
                <button mat-raised-button (click)="onVisualizarDacoes()">
                    <mat-icon>view_list</mat-icon>Andamento de suas doações
                </button>
            </div>
        </div>
    </div>
</section>
