<footer class='text-center'>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Localização</h4>
                <p class="lead mb-0">Unibh-Cristiano Machado
                    <br>Minas Gerais</p>
            </div>
            <div class="col-md-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Redes Sociais</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <fa name="facebook" class="fab fa-fw"></fa>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <fa name="google-plus" class="fab fa-fw"></fa>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <fa name="twitter" class="fab fa-fw"></fa>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <fa name="linkedin" class="fab fa-fw"></fa>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                            <fa name="dribbble" class="fab fa-fw"></fa>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4 class="text-uppercase mb-4">Sobre R.E.D.U</h4>
                <p class="lead mb-0">A R.E.D.U. é uma plataforma online gratuita que recebe doações de equipamentos
                    informáticos (novos e usados), com intuito de ajudar escolas que apresentam baixa infraestrura e
                    índice escolar.
            </div>
        </div>
    </div>
</footer>