@import "src/assets/scss/variables";
section{
    background-color:rgba($color: $aux1, $alpha: 0.5);
    padding: .8rem;
    margin-bottom: 1rem;
    .formulario-doador{
        padding: 0.4rem;
        widows: 100%;
    }
}
