@import "src/assets/scss/variables";

section.pagina-inicial{
    background-color: $secundaria-aux;
    background-image: url('/assets/img/fundo-principal.jpg');

    background-position: center;
    background-position-y: 4rem;
    background-repeat:no-repeat;
    background-size:contain;
    padding-top: 6rem;

    .principal{
        margin: 0 2em;
        min-height:90vh;
    }

    .sobre{
        background-color: $primaria;
        color:white;
        padding-top: 1.4rem;
        padding-bottom: 1rem;
    }

    .opaco{
        background-color:rgba($color: $aux1, $alpha: 0.5);
        a{
            text-decoration: none;
            font-style: italic;
            color: $primaria;
        }
        a:hover{
            color: $secundaria;
        }
    }
}
