<redu-menu></redu-menu>
<section class="pagina-inicial">
    <div class="container-fluid">
        <div class="row principal">
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea earum nihil eligendi sapiente sit. Numquam
                quaerat, adipisci voluptatum exercitationem consequuntur atque ab quae nisi iusto perferendis
                recusandae ut cum unde.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur veniam sequi rem explicabo
                ducimus? Aliquid quis asperiores ratione. Dolor, eum! Magni obcaecati est eius adipisci libero culpa
                dolores tenetur excepturi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla numquam iste neque impedit error at cum
                doloremque? In, tempora a assumenda, doloremque voluptatum deleniti, ullam dolor hic aliquid provident
                blanditiis.
            </div>
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                <mat-tab-group>
                    <mat-tab label="Doador">
                        <redu-formulario-doador>
                        </redu-formulario-doador>
                    </mat-tab>
                    <mat-tab label="Colaborador">
                        <redu-formulario-colaborador>
                        </redu-formulario-colaborador>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="row sobre" id="Sobre">
            <div class="col-md-12 col-sm-12 col-xs-12 justify-content-center text-center">
                <h1 class="text-center text-uppercase text-white">Sobre</h1>
                <hr class="star-light mb-5">
                <div class="row">
                    <div class="col-lg-4 ml-auto">
                        <article>
                            <p class="lead">A R.E.D.U. é uma plataforma online gratuita que recebe doações de
                                equipamentos
                                informáticos
                                (novos e usados), com intuito de ajudar escolas que apresentam baixa infraestrura e
                                índice
                                escolar.</p>
                        </article>
                    </div>
                    <div class="col-lg-4 mr-auto">
                        <article>
                            <p class="lead">
                                O sistema permite que você cadastre como doador ou colaborador.
                                Ajudando milhares de escolas a conseguir alcançar uma infraestrutura
                                escolar para que seja possível ter aulas com qualidade e dignidade.
                                Aceitamos doações de equipamentos antigos ou novos e temos colaboradores
                                para ajustar aqueles equipamentos que não estão mais funcionando.
                            </p>
                        </article>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                        <div class="text-center mt-4">
                            <a class="btn btn-xl btn-outline-light" href="#">
                                <fa name="book"></fa>
                                Saiba mais
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<redu-rodape></redu-rodape>