<section class="configuracao container-fluid">
    <div class="row py-4 justify-content-center">
        <div class="col-md-8 col-sm-10 col-xs-10 col-lg-8">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h2>Opções de configuração</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center p-3">
                    <mat-divider [vertical]="false"></mat-divider>
                    <button mat-raised-button class="botao-configuracao m-2">
                        <mat-icon>group_work</mat-icon> Criação de lotes <br />de doação
                    </button>
                    <button mat-raised-button class="botao-configuracao m-2">
                        <mat-icon>airplanemode_active</mat-icon> Agendamento de<br />
                        distribuição
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</section>
