<redu-menu></redu-menu>
<section class="sobre">
    <article class="text-center h-100">
        <h1>O que é a R.E.D.U.?</h1>

        <!--Diego vai fazer tudo aqui, problema e dele-->
        <div>
            A R.E.D.U. é uma plataforma online, onde as pessoas poderão informar os produtos que desejam doar.
            Dessa forma, será possível registrar os artefatos eletrônicos, peças e equipamentos para a
            doação às escolas no intuito de criar ou ampliar laboratórios informatizados. As peças e os
            equipamentos poderão ser novos ou usados. Os usados serão testados e ajustados por voluntários
            e os que estiverem em perfeito funcionamento, serão separados para doação.
        </div>
        <div>
            Nesta plataforma também será possível levantar as necessidades das escolas referente aos equipamentos
            para sua infraestrutura tecnológica. O responsável pela escola informará se deseja receber alguns dos
            benefícios disponíveis para doação. Se durante o questionário, a verificação der positivo, a escola
            receberá as doações. Se ela não precisar daquele lote de doação, a próxima escola será avaliada. A escola
            anterior que não recebeu o lote, irá permanecer no início da fila até encontrar um que irá aperfeiçoar
            sua infraestrutura. As montagens dos equipamentos também serão realizadas através do auxílio de
            voluntariados
            assim como os testes e ajustes.
        </div>
        <h1 class="text-center">
            Contamos com seu apoio para o futuro de nossas crianças.
        </h1>
    </article>
</section>
<redu-rodape></redu-rodape>
