<section class="formulario-doador">
    <div class="container-fluid">
        <form [formGroup]="formulario">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" *ngFor="let tipoDoacao of tipoDoacoes; let i = index">
                    <mat-form-field class="w-100">
                        <mat-select (change)="selecionarTipoDoacao(i)" formControlName="tipoDoacao{{i}}" placeholder="{{i>0?'Sub tipo da doação':'Tipo da doação'}}"
                            [(value)]="tipoDoacoes[i]">
                            <mat-option [value]="tipoDoacaoItem" *ngFor="let tipoDoacaoItem of listaDoacoes[i]">
                                {{tipoDoacaoItem.descricao}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.get('tipoDoacao'+i)?.hasError('required')">
                            <span *ngIf='i>0;else primeiro'>Selecione o sub tipo de doação</span>
                            <ng-template #primeiro>
                                <span>Selecione o tipo de doação</span>
                            </ng-template>
                        </mat-error>

                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Caracteristica" [(ngModel)]="doacao.caracteristica"
                            formControlName="caracteristica"></textarea>
                        <mat-error *ngIf="formulario.get('caracteristica').hasError('required')">
                            O preenchimento da caracteristica é obrigatório!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 col xs-12 col-lg-12">
                    <mat-form-field class="w-100">
                        <input matInput min="1" type="number" formControlName="quantidade" [(ngModel)]="doacao.quantidade"
                            placeholder="Quantidade" />
                        <mat-error *ngIf="formulario.get('quantidade').hasError('required')">
                            O preenchimento da quantidade é obrigatório!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <mat-form-field class="w-100">
                        <mat-select [(value)]="doacao.estadoDoacao" formControlName="estadoDoacao" [(ngModel)]="doacao.estadoDoacao"
                            placeholder="Estado da doação">
                            <mat-option [value]='estadoDoacao' *ngFor="let estadoDoacao of estadosDoacao">
                                {{estadoDoacao}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.get('estadoDoacao').hasError('required')">
                            Selecione o tipo de doação!
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</section>
