<redu-menu></redu-menu>
<section class="ajuda">

    <article class="text-center h-100">
        <h1>Ajuda</h1>
        <div>
            <mat-card>
                Na R.E.D.U. e bem simples começar a colaborar basta se cadastrar preenchendo o formulario na pagina
                inicial, depois de cadastrado você pode
                colaborar da maneira que puder, podendo fazer doações e até podendo ajudar trabalhando com a nossa
                equipe.<br><br>
                No nosso Dashboard podemos acompanhar o numero de doações e colaborações feitas pelo usuario, e
                tambem
                temos o nosso banco de dados de escolas podendo ser acessado em lista de escolas, e tambem temos o
                rank
                das escolas contempladas.<br><br>
                E voce ainda pode deixar sua opnião para nos ajudar a esta sempre evoluindo, para nos ajudar basta ir
                no seu Dashboard, e ir em Deixe sua opinião
                onde so será necessario preencher os campos para nos ajudar a melhorar sempre.

                <br><br><br><br><br>
                Contamos com seu apoio para o futuro de nossas crianças.
            </mat-card>
        </div>
        <div>

        </div>


        <div class="button-row mt-4 mt-4">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <button mat-raised-button color="primary" [routerLink]="['/','login']">VOLTAR</button>
            </div>
        </div>
    </article>

</section>
