@import "src/assets/scss/variables";
@import "src/assets/scss/fonts";

section.ajuda{
    min-height: 75vh;
    margin-top: 11vh;
    text-align: justify;
   background-color: rgba($color: $primaria ,$alpha:0.5);
    background-position: center;
    h1{
        font-weight:bold;
        color: $aux1;
    }

}
article{
    min-height: 75vh;
    text-align: justify;
    div{
        margin: 0 4rem;
    }
}
