<redu-menu></redu-menu>
<section class="login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-sm-12 col-lg-8 col-xs-12  mt-4">


            </div>
            <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12 mt-4">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h1>Entrar no REDU</h1>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                                <mat-form-field>
                                    <input matInput type="text" placeholder="Usuário">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-center">
                                <mat-form-field>
                                    <input matInput type="password" placeholder="Senha" />
                                </mat-form-field>
                            </div>
                            <div class="col"><button mat-raised-button color="primary">Confirmar</button></div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<redu-rodape></redu-rodape>
