<section class="cadastro-colaborador mb-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Você é novo? Cadastra-se
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <article>
                <p>Para realizar seu cadastro e simples, siga as estapas<br />
                    abaixo para conseguir colaborar em nossa rede!
                </p>
            </article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <mat-vertical-stepper #stepper [selectedIndex]="currentStep" [linear]="true">
                            <mat-step label="Como colaborar?" [formGroup]="comoColaborar" [completed]="comoColaborar.valid">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                        <label>Tipo: </label>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                                        <mat-radio-group formControlName="tipoPessoa" [(ngModel)]="tipoPessoa" (change)="onTipoPessoaChange()">
                                            <mat-radio-button class="ml-2" *ngFor="let tp of tiposPessoas" [value]="tp">{{tp}}</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-1">
                                        <mat-form-field>
                                            <mat-select placeholder="Tipos de colaborador" [disabled]="!tipoPessoa"
                                                formControlName="tipoColaborador" [(value)]="colaborador.tipoColaborador">
                                                <mat-option *ngFor="let tipoColaborador of tiposDeColaborador" [value]="tipoColaborador">
                                                    {{tipoColaborador.descricao}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step label="Dados pessoais" [formGroup]="formularioDadosPessoais" [completed]="formularioDadosPessoais.valid">
                                <div class="row">
                                    <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput [placeholder]="nomeColaborador()"
                                                formControlName="nome" [(ngModel)]='colaborador.nome' />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="E-mail" formControlName="email" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <!-- Essa parte alguns atributos estaram vermelhos por causa do polimorfismo
                                    Ele acha que os objetos não possui os atributos porque são especificos de cada classe
                                    porém pode se desconsiderar a marcação porque ela e feita pelo compilador antes de executar o
                                    codigo
                                -->
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaFisica()">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="CPF" formControlName="cpf"
                                                [(ngModel)]="colaborador.cpf" reduCpf>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="CNPJ" formControlName="cnpj"
                                                [(ngModel)]="colaborador.cnpj" reduCnpj>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="colaborador.razaoSocial"
                                                placeholder="Razão social" formControlName="razaoSocial">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="colaborador.nomeFantasia"
                                                formControlName="nomeFantasia" placeholder="Nome Fantasia">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step *ngIf="enderecoLoad" [completed]="enderecoComponente?.formulario?.valid">
                                <ng-template matStepLabel>Endereço</ng-template>
                                <redu-endereco [(endereco)]="colaborador.endereco" #enderecoComponente></redu-endereco>
                            </mat-step>
                            <mat-step [formGroup]="formularioAutenticacao" [completed]="false">
                                <ng-template matStepLabel>Autenticação</ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100">
                                                <input type="password" matInput placeholder="Senha" [(ngModel)]="colaborador.senha"
                                                    formControlName="senha" />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100">
                                                <input type="password" matInput placeholder="Confirmar senha"
                                                    formControlName="confirmarSenha" reduConfirmarSenha='senha' />
                                                <mat-error *ngIf="formularioAutenticacao.get('confirmarSenha').hasError('confirmPassword')">
                                                    A confirmação da senha deve ser igual a senha digitada!
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                            <button mat-raised-button type="submit" (click)="cadastrar()">Cadastrar-se</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
