<section class="cadastro-colaborador mb-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Você é novo? Cadastra-se
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <article>
                <p>Para realizar seu cadastro e simples, siga as estapas<br />
                    abaixo para conseguir colaborar em nossa rede!
                </p>
            </article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <mat-vertical-stepper #stepper [selectedIndex]="currentStep">
                            <mat-step label="Dados pessoais" [completed]="false">
                                <form>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                                                <mat-form-field class="w-100">
                                                    <input type="text" matInput placeholder="Nome completo" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                                <mat-form-field class="w-100">
                                                    <input type="email" matInput placeholder="E-mail" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [completed]="false">
                                <ng-template matStepLabel>Endereço</ng-template>
                            </mat-step>
                            <mat-step [completed]="false">
                                <ng-template matStepLabel>Autenticação</ng-template>
                                <form>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 col-lg-4 col-xs-12">
                                                <mat-form-field class="w-100">
                                                    <input type="text" matInput placeholder="Usuário" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                                <mat-form-field class="w-100">
                                                    <input type="password" matInput placeholder="Senha" />
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                                <mat-form-field class="w-100">
                                                    <input type="password" matInput placeholder="Confirmar senha" />
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
