<section class="cadastro-colaborador mb-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Você é novo? Cadastra-se
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <article>
                <p>Para realizar seu cadastro e simples, siga as estapas<br />
                    abaixo para conseguir colaborar em nossa rede!
                </p>
            </article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <mat-vertical-stepper #stepper [selectedIndex]="currentStep" [linear]="true">
                            <mat-step label="Como colaborar?" [formGroup]="formularioComoColaborar" [completed]="formularioComoColaborar.valid">
                                <div class="row">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                        <label>Tipo: </label>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-4 col-lg-4 ">
                                        <mat-radio-group formControlName="tipoPessoa" [(ngModel)]="tipoPessoa" (change)="onTipoPessoaChange()">
                                            <mat-radio-button class="ml-2" *ngFor="let tp of tiposPessoas" [value]="tp">{{tp}}
                                            </mat-radio-button>
                                        </mat-radio-group>
                                        <mat-error *ngIf="formularioComoColaborar.get('tipoPessoa').hasError('required')">
                                            E necessário selecionar seu tipo de usuário!
                                        </mat-error>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-1">
                                        <mat-form-field>
                                            <mat-select placeholder="Tipos de colaborador" formControlName="tipoColaborador"
                                                [(value)]="colaborador.tipoColaborador">
                                                <mat-option *ngFor="let tipoColaborador of tiposDeColaborador" [value]="tipoColaborador">
                                                    {{tipoColaborador.descricao}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formularioComoColaborar.get('tipoColaborador').hasError('required')">
                                                O preenchimento do campo tipo de colaborador é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step label="Dados pessoais" [formGroup]="formularioDadosPessoais" [completed]="formularioDadosPessoais.valid">
                                <div class="row">
                                    <div class="col-md-6 col-sm-12 col-lg-4 col-xs-12">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput maxlength="50" [placeholder]="nomeColaborador()"
                                                formControlName="nome" [(ngModel)]='colaborador.nome' />
                                            <mat-error *ngIf="formularioDadosPessoais.get('nome').hasError('required')">
                                                O preenchimento do campo nome é obrigatório!
                                            </mat-error>
                                            <mat-hint align="end">{{colaborador.nome?colaborador.nome.length:0}}
                                                / 50</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="E-mail" maxlength="50"
                                                formControlName="email" [(ngModel)]='colaborador.email' />
                                            <mat-error *ngIf="formularioDadosPessoais.get('email').hasError('required')">
                                                O preenchimento do campo email é obrigatório!
                                            </mat-error>
                                            <mat-error *ngIf="formularioDadosPessoais.get('email').hasError('email') && !formularioDadosPessoais.get('email').hasError('required')">
                                                Esse E-mail utilizado é Inválido!
                                            </mat-error>
                                            <mat-hint align="end">{{colaborador.email?colaborador.email.length:0}}
                                                / 50</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaFisica()">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="CPF" formControlName="cpf"
                                                [(ngModel)]="pessoaFisica.cpf" reduCpf>
                                            <mat-error *ngIf="formularioDadosPessoais.get('cpf').hasError('required')">
                                                O preenchimento do campo cpf é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field class="w-100">
                                            <input type="text" matInput placeholder="CNPJ" formControlName="cnpj"
                                                [(ngModel)]="pessoaJuridica.cnpj" reduCnpj>
                                            <mat-error *ngIf="formularioDadosPessoais.get('cnpj').hasError('required')">
                                                O preenchimento do campo cnpj é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="pessoaJuridica.razaoSocial"
                                                placeholder="Razão social" formControlName="razaoSocial">
                                            <mat-error *ngIf="formularioDadosPessoais.get('razaoSocial').hasError('required')">
                                                O preenchimento do campo Razão social é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field>
                                            <input type="text" matInput [(ngModel)]="pessoaJuridica.nomeFantasia"
                                                formControlName="nomeFantasia" placeholder="Nome Fantasia">
                                            <mat-error *ngIf="formularioDadosPessoais.get('nomeFantasia').hasError('required')">
                                                O preenchimento do campo Nome Fantasia é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6 col-lg-4 col-sm-12 col-xs-12" *ngIf="isPessoaJuridica()">
                                        <mat-form-field>
                                            <mat-select [(value)]="pessoaJuridica.tamanho" placeholder="Tamanho"
                                                formControlName="tamanho">
                                                <mat-option *ngFor="let tamanho of tamanhos" [value]="tamanho">{{TamanhoEnum.descricao(tamanho)}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="formularioDadosPessoais.get('tamanho').hasError('required')">
                                                O preenchimento do campo Tamanho é obrigatório!
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 justify-content-center text-center">
                                        <img mat-card-image *ngIf="this.colaborador.imagem" [src]="this.colaborador.imagem"
                                            class="imagem-perfil">
                                        <input type="file" #imageInput accept="image/*" (click)="imageInput.value = null;"
                                            (change)="onSelecionarFoto($event)" style="display: none" />
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 text-center">
                                        <button mat-raised-button type="button" (click)="imageInput.click()">Selecionar
                                            Foto</button>
                                    </div>
                                </div>
                            </mat-step>
                            <mat-step *ngIf="enderecoLoad" [completed]="enderecoComponente?.formulario?.valid">
                                <ng-template matStepLabel>Endereço</ng-template>
                                <redu-endereco [(endereco)]="colaborador.endereco" #enderecoComponente></redu-endereco>
                            </mat-step>
                            <mat-step [formGroup]="formularioAutenticacao" [completed]="false">
                                <ng-template matStepLabel>Autenticação</ng-template>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100">
                                                <input type="password" matInput placeholder="Senha" maxlength="16"
                                                    [(ngModel)]="colaborador.senha" formControlName="senha" />
                                                <mat-error *ngIf="formularioAutenticacao.get('senha').hasError('required')">
                                                    O preenchimento do campo senha é obrigatório!
                                                </mat-error>
                                                <mat-error *ngIf="formularioAutenticacao.get('senha').hasError('minlength')">
                                                    A senha deve conter de 8 a 16 caracteres!
                                                </mat-error>
                                                <mat-hint align="end">{{colaborador.senha?colaborador.senha.length:0}}
                                                    / 50</mat-hint>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                                            <mat-form-field class="w-100">
                                                <input type="password" matInput placeholder="Confirmar senha" maxlength="16"
                                                    formControlName="confirmarSenha" reduConfirmarSenha='senha' />
                                                <mat-error *ngIf="formularioAutenticacao.get('confirmarSenha').hasError('confirmPassword')">
                                                    A confirmação da senha deve ser igual a senha digitada!
                                                </mat-error>
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 ">
                                            <button mat-raised-button type="submit" (click)="cadastrar()">Cadastrar-se</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</section>
