<section class="cadastrar-doacao">
    <form [formGroup]="formulario">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Dados da doação
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container-fluid">
                    <redu-formulario-doador [(doacao)]="doacao" #formularioDoacao></redu-formulario-doador>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Onde está a doação?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <redu-endereco [endereco]="doacao.endereco"></redu-endereco>
                <button type="button" mat-raised-button (click)="utilizarMeuEndereco()">Utilizar o meu endereço!</button>
            </mat-expansion-panel>
        </mat-accordion>
    </form>
</section>
