/**
* Fontes personalizadas
*/
@font-face{
    src: url('/assets/fonts/chapaza/Chapaza.ttf') format('TrueType');
    font-family: 'Chapaza';
}

@font-face{
    src: url('/assets/fonts/chapaza/Chapaza-Italic.ttf') format('TrueType');
    font-family: 'Chapaza Italic';
}


@font-face{
    src: url('/assets/fonts/modern_sans/ModernSans-Light.otf') format('OpenType');
    font-family: 'Modern Sans';
}

@font-face{
    src: url('/assets/fonts/vogue/Vogue.ttf') format('TrueType');
    font-family: 'Vogue';
}

@font-face{
    src: url('/assets/fonts/comfortaa/Comfortaa-Regular.ttf') format('OpenType');
    font-family: 'Comfortaa';
}


@font-face{
    src: url('/assets/fonts/comfortaa/Comfortaa-Light.ttf') format('OpenType');
    font-family: 'Comfortaa Light';
}

@font-face{
    src: url('/assets/fonts/comfortaa/Comfortaa-Bold.ttf') format('OpenType');
    font-family: 'Comfortaa';
    font-style: bold;
}


