/**
* Arquivo para definir o estilo padrão do sistema
*
*/

//Cores principais do sistema
$primaria:  #FC4A1A;
$secundaria: #4ABDAC;
$aux1: #DFDCE3;
$aux2: #F7B733;
$aux4: #7F4433;
$sucess:#017F36;
$error:#B2271A;
/**
*Cores para dar contraste as cores primarias
*/
$secundaria-aux:#5AE5D1;
$secundaria-aux-escuro:#19403A;


.fonte-padrao{
    font-family: 'Modern Sans' !important;
}

.fonte-titulo{
    font-family: 'Comfortaa Light' !important;
}
