@import "src/assets/scss/variables";
@import "src/assets/scss/fonts";

section.perguntas-frequentes{
    min-height:75vh;
    padding-bottom:4rem;
    padding-top:10rem;


}

h1{
    font-weight: bold;
    color: $aux1;
}
mat-accordion{
    font-size: 1.4rem;
    margin-top: 20rem;
}
h1{
    text-align: center;
    margin: auto;
}
