<section class="perguntas-frequentes container mt-5">

    <article class="text-center h-100">
        <h1>Perguntas Frequentes</h1>

        <div class=" text-left row mt-4 mt-4">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 painel-acoes">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                O que preciso para ser um doador?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Você precisa ser uma Pessoa Física ou Jurídica, ter um cadastro em nosso site.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Há uma limite para se fazer uma doação?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Sim. Você pode doar de 1 a 100 aparelhos por cada doação.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Como faço para entregar minha doação?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Não é preciso, temos nossos colaboradores ques ficam a cargo dos transportes de todas as
                        doações por região de cada doador.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Posso doar equipamentos com pequenos defeitos?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Sim, temos colaboradores dispostos a reparar aparelhos defeituosos.
                    </mat-expansion-panel>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Posso escolher a escola que receberá minha doação?
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        Não. Já possuímos uma classificação de escolas pré definida por ordem de fila, não podemos
                        furar essa ordem.
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>

        <div class="button-row mt-4 mt-4">
            <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                <button mat-raised-button color="primary" [routerLink]="['/','login']">VOLTAR</button>
            </div>
        </div>
    </article>
</section>
