@import "src/assets/scss/variables";
@import "src/assets/scss/fonts";

section.perguntas-frequentes{
    min-height:75vh;
    padding-bottom:4rem;
    padding-top:5rem;


}

h1{
    font-weight: bold;
    color: $aux1;
    text-align: center;

}
mat-accordion{
    font-size: 1.4rem;
    margin-top: 20rem;
}

